.posts{
    text-decoration: none;
    list-style: none;
    margin:0px;
    
}

.post{
margin: 1rem 0;
 display: block;
 background-color: antiquewhite;
 padding: 1rem;

 & a{
   text-decoration: none;
   color:black;
   font-size: 25px;
   letter-spacing: 1px;
 }

}