$gray :#777777 ;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 1.7;
     font-family: "Lato", sans-serif;
}

body{
    margin: 0 30 20 30 ;
    
}

h1{
    
    font-size:50px;
    letter-spacing: 1px;
}

h3{
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-weight: 700;
}

p{
     font-size: 18px;
}